<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846282493462-oi0cm1ngb0bbs3p78j96n1gp410s5a44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846282493462-oi0cm1ngb0bbs3p78j96n1gp410s5a44</string>
	<key>API_KEY</key>
	<string>AIzaSyCF3JXCJdKh-E_0ZH8jkSD9bFM_MMSPpyA</string>
	<key>GCM_SENDER_ID</key>
	<string>846282493462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.actbind.Actbind</string>
	<key>PROJECT_ID</key>
	<string>actbind-80297</string>
	<key>STORAGE_BUCKET</key>
	<string>actbind-80297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846282493462:ios:053058be5e12b554a72f37</string>
</dict>
</plist>